:root {
    --light-gray: #f0f0f0;
    --short-transition-time: 0.4s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0.3%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b6ec2;
    transition: var(--short-transition-time);
}

.slider:before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--light-gray);
    transition: var(--short-transition-time);
}

input:checked+.slider {
    background-color: #1b6ec2;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0b5ed7;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

#color-mode-descriptor {
    color: #212529;
    margin-top: 1%;
}

/* @media is used to check the screen of the user, to enhance responsiveness.*/
@media (max-width: 600px) {
    .switch {
        width: 50px;
        height: 28px;
    }

    .slider:before {
        width: 20px;
        height: 20px;
        transform: translateX(22px);
    }

    input:checked+.slider:before {
        transform: translateX(22px);
    }
}

@media (max-width: 400px) {
    .switch {
        width: 40px;
        height: 24px;
    }

    .slider:before {
        width: 16px;
        height: 16px;
        transform: translateX(18px);
    }

    input:checked+.slider:before {
        transform: translateX(18px);
    }
}

#color-mode-descriptor {
    color: #212529;
    font-family: 'Times New Roman', Times, serif;
}