:root {
  --inverted-color: #111111;
  --inverted-box-shadow: 2px 5px 10px var(--inverted-color);
  --long-transition-time: 2s;
}

.light-color-mode {
  h1,
  label,
  .card > .card-body > .card-title,
  .card > .card-body > .card-text,
  .card-tags,
  body > header > nav{
    filter: invert(100%);
    transition: all var(--long-transition-time);
  }

  body {
    background-color: white;
    transition: all var(--long-transition-time);
  }

/*
URL for testing:
https://www.migrationsverket.se/images/18.6f22e3491708b85db6e302b/1591710118257/Migrationsverket_logotyp_frizon_R%C3%96D_rgb.png
*/

  .card,
  .relevant-card {
    border: solid var(--inverted-color) 2px;
  }

  .card:hover,
  .relevant-card:hover {
    box-shadow: var(--inverted-box-shadow);
  }

  body > div > main > div > form > label.switch
 {
    filter: saturate(100%) !important;
  }
}
