.relevant-card {
  border: var(--card-border);
  border-radius: 25px;
  background-color: var(--middle-gray);
  padding: 1%;
  margin: 2%;
}

#relevant-card-title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

#relevant-today-title {
  text-align: center;
  color: white;
  font-weight: bold;
}

#relevant-card-text:not(:hover) {
    color: white;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: -0.1%;
}

#relevant-card-text:hover {
  color: white;
  font-size: x-large;
}

#relevant-card-link:visited {
  color: wheat;
}

#relevant-card-link {
  color: white;
  font-size: large;
}

.relevant-card {
  border: var(--card-border);
  border-radius: 25px;
  background-color: #36454f;
}

.relevant-card:hover {
  border: var(--card-border);
  border-radius: var(--large-border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: x-large;
  padding: 5%;

  #relevant-card-text,
  #relevant-card-link {
    font-size: x-large;
  }
}

.relevant-card,
h2,
a
{
      transition: all var(--short-transition-time);
}

#relevant-card-image
{
    width: 55%;
    display: flex;
    margin: 10px auto;
}