.relevant-card {
  border: var(--card-border);
  border-radius: 25px;
  background-color: var(--middle-gray);
  padding: 1%;
  margin: 2%;
}

.relevant-card:hover {
  border: var(--card-border);
  border-radius: var(--large-border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: x-large;
  padding: 5%;

  #relevant-card-text,
  #relevant-card-link {
    font-size: x-large;
  }
}

#relevant-card-title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

#relevant-today-title {
  text-align: center;
  color: white;
  font-weight: bold;
}

#relevant-card-text:not(:hover){
    color: white;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: -0.1%;
}

#relevant-card-text:hover {
  color: white;
  font-size: x-large;
}

#relevant-card-link:visited {
  color: wheat;
}

#relevant-card-link {
  color: white;
  font-size: large;
}

.relevant-card {
  border: var(--card-border);
  border-radius: 25px;
  background-color: #36454f;
}

#relevant-card-image {
  width: 55%;
  display: flex;
  margin: 10px auto;
}

/* URL for testing:
https://www.migrationsverket.se/images/18.6f22e3491708b85db6e302b/1591710118257/Migrationsverket_logotyp_frizon_R%C3%96D_rgb.png
*/

.relevant-card,
h2,
a,
#relevant-card-tags
{
      transition: all var(--short-transition-time);
}

#relevant-card-tags {
  color: white;
  font-size: small;
  font-family: "Times New Roman", Times, serif;
}

#relevant-card-tags:hover {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

#add-image-button
{
  display: none;
}