:root {
  --light-gray: #eeeeee;
  --middle-gray: #909090;
  --dark-gray: #383838;
  --box-shadow: 2px 5px 10px var(--light-gray);
  --large-border-radius: 70px;
  --card-border: solid var(--light-gray) 2px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--dark-gray);
}

.card {
  border: var(--card-border);
  border-radius: 25px;
  background-color: var(--middle-gray);
}

.card:hover {
  border: var(--card-border);
  border-radius: var(--large-border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: x-large;
  padding: 5%;
}

.card>.card-body>.card-title:hover {
  font-size: x-large;
}

.card>.card-body>.card-title {
  text-align: center;
  font-weight: bold;
}

a.card-link:visited {
  color: #551A8B;
}

a.card-link {
  color: white;
  padding: 6px 12px;
  font-size: 15px;
}

.container-fluid {
  background-color: var(--middle-gray);
}

.form-select {
  border-radius: var(--large-border-radius);
}

h1,
label,
body>header>nav>div>div>ul {
  color: var(--light-gray);
  font-weight: bold;
}

/* Relevant card onwards*/
.relevant-card {
  border: var(--card-border);
  border-radius: 25px;
  background-color: var(--middle-gray);
  padding: 1%;
}

.relevant-card:hover {
  border: var(--card-border);
  border-radius: var(--large-border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: x-large;
  padding: 5%;
}

h4
{
  text-align: center;
}
.relevant-card>.relevent-card-body>#card-title:hover {
  font-size: x-large;
}

.relevant-card>.relevant-card-body>#relevant-card-title {
  text-align: center;
  font-weight: bold;
}

a#relevant-card-link:visited {
  color: #551A8B;
}

a#relevant-card-link {
  color: white;
  padding: 6px 12px;
  font-size: 15px;
}

.relevant-card {
  border: var(--card-border);
  border-radius: 25px;
  background-color: #36454f;
}

.relevant-card:hover {
  border: var(--card-border);
  border-radius: var(--large-border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: x-large;
  padding: 5%;
}