:root {
  --light-gray: #eeeeee;
  --middle-gray: #909090;
  --dark-gray: #383838;
  --box-shadow: 2px 5px 10px -2px var(--light-gray);
  --large-border-radius: 70px;
  --card-border: solid var(--light-gray) 2px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--dark-gray);
}

.card {
  border: var(--card-border);
  border-radius: 25px;
  background-color: var(--middle-gray);
}

.card:hover {
  border: var(--card-border);
  border-radius: var(--large-border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: x-large;
  padding: 5%;
}


.card>.card-body>.card-title {
  text-align: center;
}

a.card-link:visited {
  color: #551A8B;
}

a.card-link {
  color: white;
  padding: 6px 12px;
  font-size: 15px;
}

.container-fluid {
  background-color: var(--middle-gray);
}

.form-select {
  border-radius: var(--large-border-radius);
}

h1,
label{
  color: var(--light-gray);
}

body > div > main > div > div > div:nth-child(6) > div > div > p:nth-child(4) > small
{
  color: black;
}