:root {
  --card-border-dark-mode: solid var(--light-gray) 2px;
  --card-border-light-mode: solid var(--dark-gray) 2px;
  --box-shadow-dark-mode: 2px 5px 10px var(--light-gray);
  --box-shadow-light-mode: 2px 5px 10px var(--inverted-light-gray);
  --short-transition-time: 200ms;
  --large-border-radius: 30px;
}


.card {
  border-radius: 25px;
  width: 30%;
  height: 50%;
  display: inline-block;
  margin: 0.5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  transition: all var(--short-transition-time);
}


.light-theme-card {
  border: var(--card-border-light-mode);
  background-image: url('../img/card_bg_light.png'); 
  box-shadow: var(--box-shadow-light-mode);
  color: var(--light-gray);
}


.dark-theme-card {
  border: var(--card-border-dark-mode);
  background-image: url('../img/card_bg_dark.png'); 
  box-shadow: var(--box-shadow-light-mode);
  color: #e4e4e4;
  text-shadow: 
    1px 1px 0 #000, 
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.card:hover {
  border-radius: var(--large-border-radius);
  box-shadow: var(--box-shadow-dark-mode);
  text-align: center;
  font-size: x-large;
  padding: 5%;
}

.light-theme-card:hover {
  box-shadow: var(--box-shadow-light-mode);
}

.dark-theme-card:hover {
  box-shadow: var(--box-shadow-dark-mode);
}

.card-title {
  text-align: center;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  
}

.card-body a {
  color: var(--light-gray);
  padding: 6px 12px;
}

.card-body a:visited {
  color: var(--dark-gray);
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.card-tags {
  font-size: small;
}

img {
  width: 55%;
  display: flex;
  margin: 10px auto;
}

.add-image-button {
  display: none;
}