:root {
  --short-transition-time: 0.4s;
}

.color-mode-selector-container {
  position: relative;
  width: 60px;
  height: 34px;
  gap: 70%;

  margin-right: 1%;
  margin-left: 1%;
  margin-top: 0.3%;

  display: flex;
  align-items: center;
}

#color-mode-descriptor {
  width: 127%;
  padding-left: 40%;
  display: inline-block;
  white-space: nowrap;
}

.color-mode-selector-container input {
  opacity: 0;
  width: 0;
  height: 0;  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b6ec2;
  transition: var(--short-transition-time);
}

.slider:before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-gray);
  transition: var(--short-transition-time);
}

input:checked + .slider {
  background-color: #1b6ec2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0b5ed7;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-theme-color-mode-descriptor {
  color: var(--light-gray);
}

.light-theme-color-mode-descriptor {
  color: var(--dark-gray);
}