#navigation-bar > nav {
  overflow: hidden;
}

a {
  color: #0077cc;
  display: block;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
  line-height: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.dark-theme-header
{
  background-color: var(--dark-gray);
}

.light-theme-header
{
  background-color: var(--light-gray);
}

.dark-theme-list
{
  background-color: black;
}

.light-theme-list
{
  background-color: white;
}